.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: space-evenly;
  align-items: baseline;
}

.counter {
  grid-column: 1/4;
  text-align: center;
}

.increment, .decrement {
  cursor: pointer;
  margin: 10px;
}

.reset {
  cursor: pointer;
  margin: 5px
}